<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.livin.mapper.PropertyMapper">

    <select id="selectPropertyNearLocationByUserId" resultMap="SelectPropertyNearLocationMap">
        SELECT property_id, name
        FROM Property
        WHERE sido = #{sido}
        AND sigungu = #{sigungu}
        AND eupmyendong = #{eupmyendong}
        LIMIT #{limit}
    </select>

    <resultMap id="SelectPropertyNearLocationMap" type="PropertyVO">
        <result column="property_id" property="propertyId"/>
        <result column="name" property="name"/>
    </resultMap>

</mapper>