<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.livin.mapper.UserMapper">
<!--    파라미터 타입(parameterType)을 long으로 전달받아서 결과 타입(resultType)을 string 값으로 Vue에 전달   -->
    <select id="findNicknameByUserId" resultType="string" parameterType="long">
        SELECT nickname
        FROM `user`
        WHERE user_id = #{userId}
    </select>
</mapper>