<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.livin.property.mapper.PropertyChecklistMapper">

    <select id="selectChecklistTitlesByUserId"
            parameterType="long"
            resultType="string">
        SELECT
            title
        FROM Checklist
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>