<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.livin.property.mapper.PropertyChecklistMapper">

    <select id="selectChecklistTitlesByUserId"
            parameterType="long"
            resultType="org.livin.property.dto.ChecklistTitleDTO">
        SELECT
            checklist_id AS checklistId,
            title
        FROM Checklist
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="selectChecklistItemsOwnedByUser"
            parameterType="map"
            resultType="org.livin.property.dto.ChecklistItemDTO">
        SELECT
        ci.checklistitem_id AS checklistItemId,
        ci.keyword,
        ci.is_active        AS isActive,
        ci.is_checked       AS isChecked,
        ci.type,
        ci.checklist_id     AS checklistId
        FROM ChecklistItem ci
        JOIN Checklist c ON c.checklist_id = ci.checklist_id
        WHERE ci.checklist_id = #{checklistId}
        AND c.user_id = #{userId}          <!-- 회원 접근 조건 -->
        ORDER BY ci.checklistitem_id ASC
    </select>

</mapper>